@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Noto+Serif&display=swap');

:root {
    --blue: #1D3557;
    --blue2: #457B9D;
    --blue3: #A8DADC;
    --white: #F1FAEE;
    --red: #E63946;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Serif', serif;
    color: var(--blue);
    background: var(--white);
}

.header-menu {
 display: flex;
 justify-content: space-between; 
}

.img-menu {
    width: 10em;
}

h1 {
    text-align: center;
}