@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Noto+Serif&display=swap');

:root {
    --blue: #1D3557;
    --blue2: #457B9D;
    --blue3: #A8DADC;
    --white: #F1FAEE;
    --red: #E63946;
}

*{
    margin: 0;
    padding: 0;
    
}   

body {
    font-family: 'Inter', sans-serif;
    color: var(--blue);
    max-width: 100%;     
}

.header-menu {
 display: flex;
 justify-content: space-between; 
 max-width: 98%;
}

.img-menu {
    width: 10em;
}

h1 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    letter-spacing: .2em;
    margin: 10px 10px;
   }

p {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}


div {    
    height: 450px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


div:nth-of-type(1){
    background-image: url("./lib/Propagandas/seu-sitesvg.svg");
}
div:nth-of-type(3){
    background-image: url("./lib/Propagandas/conetesesvg.svg");
}

div:nth-of-type(2){
    height: 320px;
}

div:nth-of-type(4){
    height: 350px;
}

.txt-h2 {
    color: var(--red);
    margin: 20px 20px;
    text-align: center;
}

/* From cssbuttons.io by @adamgiebl */
.button-3d {
    font-size: 16px;
    padding: 1em 3.3em;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(70,135,252,1) 100%);    
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(70,135,252,1);
    max-width: 70%;
    align-self: center;
   }
   
   .button-3d:hover {
    transform: perspective(180px) rotateX(30deg) translateY(2px);
   }
   
   .button-3d:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
   }

   .buttons-3d {
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin: 20px;
   }

   .buttons-3d a {
       text-decoration: none;
       color: #fff;
   }

 
   /* From cssbuttons.io by @adamgiebl */

   .lp-list {
    font-family: 'Noto Serif', serif;
    max-width: 100%;
    font-size: 20px;
    margin:8px;
    
   }

   strong {
       text-decoration: underline;
   }

   .img-profissoes {
       max-width: 100%;
   }