@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Noto+Serif&display=swap');

:root {
    --blue: #1D3557;
    --blue2: #457B9D;
    --blue3: #A8DADC;
    --white: #F1FAEE;
    --red: #E63946;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}   

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Serif', serif;
    color: var(--blue);
    background: var(--white);
    max-width: 100%;
    overflow-x: hidden;
}

.header-menu {
 display: flex;
 justify-content: space-between; 
 max-width: 100%;
}

.img-menu {
    width: 10em;
}

h1 {
    text-align: center;
}

.box-1 {
    box-sizing: border-box;
    border: solid 2px var(--blue);
    width: 20em;
    height:10em;
    margin-left: 4px;
}

section {
    width: 100%;
    height: 300px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


section:nth-of-type(1){
    background-image: url("./lib/background1.svg");
}
section:nth-of-type(3){
    background-image: url("./lib/Background2.svg");
}

section:nth-of-type(2){
    height: 150px;
}

